<% if image %>
  <%= link_to image_tag(image.attachment.url(:product), :itemprop => "image"), image.attachment.url(:original), :class => 'fancybox zoom-image' %>
  <br />
  <%= link_to image_tag('zoom.gif'), image.attachment.url(:original), :class => 'fancybox zoom-image' %>
<% else %>
  <% if @product.images.empty? && @product.variant_images.empty? %>
    <%= product_image(@product, :itemprop => "large") %>
    <%#= booya %>
  <% else %>
    <% large_image = @product.images.any? ? @product.images.first : @product.variant_images.first %>
    <%= link_to product_image(@product, :itemprop => "image"), large_image.attachment.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox zoom-image large-image', :rel => 'gallery' %>
    <br />
    <%= link_to image_tag('zoom.gif', :class => 'click-to-zoom'), large_image.attachment.url(Spree::ProductZoom::Config.default_image_style), :class => 'zoom-image click-to-zoom', :rel => 'gallery' %>
    <div id="gallery" style="display:none;">
      <% @product.images.each do |img| %>
        <% unless img == @product.images.first %>
          <%= link_to image_tag(img.attachment.url(:product)), img.attachment.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'gallery' %>
        <% end %>
      <% end %>
      <% if @product.has_variants? %>
        <% @variants.each do |v| %>
          <% if v.available? %>
            <% v.images.each do |i| %>
              <%= link_to image_tag(i.attachment.url(:product)), i.attachment.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'gallery' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
